
body {
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: Calibri;
}

.app-header {
  background-color: #222;
  height: 1.5em;
  position:fixed;
  width:100%;
  padding: 20px;
  color: white;
  top:0;
  border-bottom:2px solid gold;
}


main {
  margin-top:6em;
}


.main-title {
  font-family:Montserrat;
  text-align:center;
  margin:0 auto;
}


.main-content {
  background-color:#c8cace;
  height:40em;
  width:70%;
  margin:0 auto;
  border-radius:8px;
  margin-top:2em;
  box-shadow: 2px 2px black;
}

.linear-search {
  margin:0 auto;
  width: 95%;
  text-align:center;
}

.linear-heading {
  font-size:1.4em;
  font-weight:bold;
  padding-top:1em;
}

.linear-searchInput {
  height:2em;
  margin-bottom:1em;
  text-align:center;
}

.linear-input {
  width:80%;
  height:2em;
  padding-left:4px;
}

.linear-results {
  font-weight:bold;
  padding-top:1px;
  height:7em;
  background-color:white;
  width:70%;
  margin:0 auto;
  margin-top:1em;
  text-align:center;
}